body{
    background-color: lightblue;
    font-family: Itim;
}
.container{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    margin-bottom: 5%;
}
.leftside{
    background-color: #081921;
    padding: 40px;
    color: white;
    flex: 25%;
    border-radius: 30px 0 0 30px;
}
.leftside h2{
    color: #03a9f4;
    margin-bottom: 10px;
}
.text{
    font-size: 17px;
}
.language ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #e2e6e8;
    display: block;
    margin-top: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.language .percent .bar1{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background:#f40303 ;
    border-radius: 2px;
}
.language .percent .bar2{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background:#f40303 ;
    border-radius: 2px;
}
.language .percent .bar3{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background:#f40303 ;
    border-radius: 2px;
}
.language .percent .bar4{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background:#f40303 ;
    border-radius: 2px;
}
.language .percent .bar5{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background:#f40303 ;
    border-radius: 2px;
}
.rightside{
    background-color: white;
    padding: 40px;
    flex: 75%;
    border-radius: 0 30px 30px 0;
}
.rightside h2{
    color: #03a9f4;
}
.tech_list{
    display: flex;
}
.tech_list li{
    margin-left: 40px;
    margin-top: 0px;
    font-size: 20px;
}
.project ul{
    padding: 0px;
}
.project ul li{
    list-style: none;
    font-size: 22px;
    margin-bottom: 10px;
    border: 2px solid #8a8a8a;
    border-radius: 20px;
    padding: 10px;
}